.gitignore
node_modules
package-lock.json
build/output/*
scripts/Smelly Api/vendor/*
!scripts/Smelly Api/vendor/Smelly API
!scripts/Smelly Api/vendor/Chat Ranks
!scripts/Smelly Api/vendor/Leaderboards
!scripts/Smelly Api/vendor/Anti Cheat
!scripts/Smelly Api/vendor/autoload.js